@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: grey;
	background-size: cover;
	text-align: center;
	color: gold;
}

header {
    border: 2px black solid;
    background: url(../images/useme.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

nav {
	margin: 20px;
	padding: 20px;
	height: 50px;
	color: #E8C66A;
}

h1 {
	font-size: 5em;
	font-family: 'pt serif', garamond;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
}

p {
	font-size: 1.25em;
	color: gold;
	margin-bottom: 20px;
	padding: 20px;
	font-family: 'roboto condensed', arial;
}

li {
	list-style-type: none;
	color: gold;
	padding: 7px;
	font-style: italic;
	font-family: 'roboto condensed', arial;
}

img {
	width: 400px;
	padding-top: 10px;
}

article {
	line-height: 1.5em;
	width: 400px;
	margin-left: 200px;
}

h4 {
	color: gold;
	margin-top: 20px;
	margin-bottom: 20px;

	font-family: 'roboto condensed', arial;
}
a {
	text-decoration: none;
	font-family: 'roboto condensed', arial;
	color: gold;
  	margin: 10px;
  	padding: 10px;
  	border: solid black 1px;
}

footer {
	background-color: gold;
	color: black;
  	height: 100px;
}

.foot {
  color: black;
  margin: 0 auto;
  padding: 0;
}

#wrapper {
	background-color: purple;
	width: 800px;
	margin: 0 auto;
}

#slogan {
	font-size: 1.75em;
	color: gold;
	margin-bottom: 20px;
	padding: 20px;
}

#quote {
	font-size: 1.5em;
}

#main {
  width: 400px;     
}

#email {
  border: none;
}
